.career-stats {
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__section {
    width: 100%;
  }

  &__title {
    --main-color: #0077C1;
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    margin-bottom: 30px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media(max-width: 1280px) {
      gap: 24px;
    }

    @media(max-width: 767.98px)  {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }
}

.career-stats-item {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 10px;

  @media(max-width: 1280px) {
    padding: 24px;
  }

  @media(max-width: 767.98px) {
    padding: 20px;
  }

  &__num {
    --main-color: #0077C1;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: -0.12px;
    font-weight: 500;
    color: var(--main-color);

    @media(max-width: 767.98px)  {
      font-size: 48px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;

    @media(max-width: 767.98px)  {
      font-size: 16px;
    }
  }
}