.join-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @media(max-width: 767.98px) {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 700;
  }

  &__img {
    display: block;
    width: 100%;

    img {
      display: block;
      width: 100%;
      border-radius: 10px;
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    > * {
      width: 100%;
    }

    .button__wrap {

      @media(max-width: 767.98px) {
        margin: 0;
      }
    }

    .button {

      @media(max-width: 767.98px)  {
        width: 100%;
        justify-content: center;
      }
    }
  }
}

.form-checkbox {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    min-width: 0;
    width: 0;

    &:checked + label {

      &::before {
        border-color: #0077C1;
      }

      &::after {
        opacity: 1;
      }
    }
  }
  
  label {
    display: block;
    padding-left: 28px;
    cursor: pointer;

    &::before {
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #ACACAC;
      border-radius: 4px;
    }

    &::after {
      content: '';
      width: 10px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border-bottom: 2px solid #0077C1;
      border-left: 2px solid #0077C1;
      transform: rotate(-45deg);
      opacity: 0;
    }
  }
}